# Environnements locaux
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Notebooks
.ipynb_checkpoints/

# Donnees et artefacts lourds
data/
dataset/
datasets/
artifacts/*.keras
*.zip
*.tar
*.tar.gz
*.h5
*.pkl
*.joblib

# Caches locaux
.kaggle/
.cache/

# Fichiers locaux / systeme
.env
.DS_Store
Thumbs.db
message.txt
